/*
//
//
//
//
*/
.nav_container {
  /* position: absolute;
  left: 50%;
  bottom: 20px; */

  /* width: 300px; */
  /* height: 43px; */

  display: flex;
  align-items: center;

  border-radius: 50px;
  background-color: var(--card_color);
  border: 1px solid var(--border_color);

  /* transform: translateX(-50%); */
}
.navigation_btn {
  color: var(--text_color);
  font-size: 13px;
}
.navigation_btn:hover {
  color: var(--theme_color);
}
.navigation_btn_important {
  height: 70%;
  margin-right: 5px;
  border-radius: 50px;
  padding: 2px 10px;
  background-color: var(--theme_color);
}
