/* .header { */
/* text-shadow:
    0 0 50px rgba(92, 201, 255, 0.487),
    0 0 56px rgba(92, 201, 255, 0.215); */
/* overflow: hidden; */
/* } */
/* .header_nassim { */
/* text-shadow:
    0 0 20px rgba(92, 201, 255, 0.487),
    0 0 25px rgba(92, 201, 255, 0.215); */
/* } */
.ShikiHighlighter > pre > code > span {
  font-family: "JB";
  font-weight: 300;
}
